body{
    padding: 10px 0px;
    width: 1105px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F2F2F2;
}
h1{
    padding: 1px 300px;
    margin: 5px;
    color: #006600;
}
.menu{
    width: 100%;
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
.menu li{
    float: left;
    list-style-type: none;
    position: relative;
    padding: 0px 26px;
}
.menu li a{
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #20B2AA;
}
#search{
    width: 357px;
    margin: 4px;
}
p{
    margin-top:0px;
    padding-left:370px;
    border-top: solid 1px #989898;
    border-bottom: solid 1px #989898;
}
.link{
    margin-left: 100px;
}
form{
    margin: auto 250px;
}
.view, .view td, .view tr th{
    margin: 5px auto;
    border: 1px solid  #787878;
}
.view th a{
    color: #1759FF;
}
.err{
    color: #B40404;
}
footer{
    padding-top: 10px;
}