body{
	font-family: arial;
	width: 1000px;
	margin:auto;
    height:100%;
}
h1{	
	text-decoration: underline;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	margin: 10px;
}
h2{
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0px;
	padding-top: 10px;
}
h3{
	text-decoration: underline;
	font-size: 20px;
	font-weight: bold;
}
b{
	font-weight: bold;
}
nav{
	font-family: impact;
	font-size: 20px;
}
nav a{
	color: #FF4000;
}
nav ul li{
	display: inline;
	padding: 0 24px;
}
hr{
	color: #FF0000;
}
p{
	padding-top: 20px;
}
.para{
	text-indent: 50px;
}
footer {
	text-align: center;
	color: #585858;
	margin: 5px 0 35px 0px;
}
#sidebar h3{
	margin: 10px 0 10px 0;
}
aside ul li{
	text-decoration: none;
	margin: 8px 0;
}
#sidebar{
	background-color: #cccccc;
	padding: 5px;
	float: right;
	width: 140px;
}
#sidebar a {
	text-decoration: none;
	color: #000000;
}
#sidebar ul li {
	font-family: verdana;
	border: 1px solid #BDBDBD;
	padding: 5px;
	text-align: center;
	background-color: #6688FF;
}
section{
	width: 850px;
}
section article img{
	margin-left: 40%;
}
figure video{
	margin-left: 100px;
}
figure figcaption {
	margin: 15px;
	font-style: italic;
}
figure audio{
	margin-top: 20px;
	margin-left: 220px;
}
.und {
	text-decoration: underline;
	font-weight: bold;
	color: #0000FF;
}	
form input{
	margin: 10px 10px 10px 0;
}
.change ul{
	padding: 6px 0;
	background-color: #DF3A01;
}
.change ul li a{
	text-decoration: none;
	color: #FA8258;
}
.change ul li a:hover{
	padding: 10px;
	background-color: #DF0101;
}
.chg {
	font-family: Times new roman;
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
	color: #08088A;
	padding: 15px;
}
.container {
	background-color: #E0E6F8;
}
.left{
	width: 49.9%;
	float: left;
	border-right: 1px solid #A4A4A4;
	height: 220px;
}
.right {
	width: 50%;
	float: right;
	height: 220px;
}
.left img, .right img {
	float: left;
	padding: 10px;
	margin: 10px;
	border: 1px solid #A4A4A4;
}
.left p, .right p {
	margin-left: 15px;
	clear: none;
}
.gallery {
	float: right;
	width: 325px;
	height: 200px;
	border: 1px solid #A4A4A4;
	background-color: #81F7BE;
	margin-bottom: 10px;
	clear: both;
}
.gallery h2 {
	margin-top: 0px;
	text-align: center;
	text-decoration: underline;
	padding-bottom: 8px;
}
.gallery aside {
	float: left;
	padding-left: 10px;
	width: 100px;
	text-align: center;
}
#image {
	margin: 0;
	padding: 0 0 6px 110px;
}
.share h2 {
	text-align: center;
	font-size: 28px;
	margin-top: 230px;
	margin-bottom: 20px;
	text-decoration: underline;
	color: #2E64FE;
}
.share ul {
	text-align: center;
}
.share ul li {
	display: inline;
	padding: 15px;
}

.share ul li a:hover {
	padding: 0 50px ;
	font-size: 60%;
}	
.new-hr {
	margin-top: 20px;
	clear: both;
}

#audio_footer {
	margin-top: 230px;
}