/*------------------------------
=BASIC SETUP
------------------------------*/
body {overflow: scroll; 
	margin: 0 auto;
	padding: 0px;
	width: 980px;
       font: 13px/22px Helvetica, sans-serif;
	background: #F0F0F0;
       color:#000;
}

/*------------------------------
=INTRODUCTION
------------------------------*/

#intro {

        width:980px;
        margin: 5px auto; 
        padding: 0px;    
}

#introh2 {
        padding: 0;
        border:2px solid;
	 color: #336699;
        background: #99ff00;
        font-style:italic;
        text-shadow:0.1em 0.1em 0.05em #fff ;
}

/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/
#content {display: table;}
#mainContent {
	display: table-cell;
	width: 680px;
	padding-right: 2px;
       border:4px groove #ccf;
       height:480px;
}
	
/*------------------------------
=SIDEBAR
------------------------------*/
aside {
	display: table-cell;
       background:#ffffff;
       width: 300px;
       border:4px groove #ccf;
       height:480px;
}

aside section {
	margin: 2px 0 0 2px;}


/*------------------------------
           Footer
------------------------------*/
footer section{text-align:center;width:980px; }

#lastUpdated {
	position: relative;
	margin-top: 6px; 
	padding: 6px 0px;    
	background: #ccc;
       color:#000;
}
#lastUpdated p {
	padding: 0;
	color: #000;
       background: #ccc;
}

/*------------------------------
=showCase 
------------------------------*/
.showContent {display:inline;}
.hideContent {display:none;}

/*------------------------------
           Form
------------------------------*/

#userId, #client, #propValue {
	margin: 10px 20px 10px 0;
}
#downPay {
	margin: 10px 20px 0px 0;
}
#mortYear, #mortMonth, #intRate, #amortization {
	margin: 5px 24px 10px 0;
}
#payment {
	margin: 10px 40px 10px 0;
}
#jsActive, #lastName, #studentId {
	margin: 0 24px 5px 0;
}
#zenitAccount {
	margin: 0 24px 5px 0;
}
.first {
	width: 150px;
	height: 187px;
	float: left;
	border: 1px solid #F0F0F0;
}
.second{
	margin-left: 200px;
	height: 187px;
	width: 200px;
	border: 1px solid #F0F0F0;
}

#reserverd {
	padding: 15px;
}

#reserverd b {
	font-size: 20px;
	text-decoration: underline;
}